@media (min-width: 1920px) {
    /* ------------ navigation ------------ */
    .burger-menu, .burger-menu-close {
        display: none;
    }

    nav ul {
        width: 28vw;
        display: flex;
    }

    nav ul li a {
        font-size: 1.3rem;
    }

    nav ul li:hover {
        color: var(--budo-red)
    }

    .active {
        color: var(--budo-red);
        font-size: 1.3rem;
        font-weight: 800;
        pointer-events: none;
        top: 8px;
        right: 3px;
    }

    .body-landing-page {
        background-image: linear-gradient(#332e2e),
        url("../assets/dojo-aikido.png");
    }


}
