/*Unreset*/
hr {
    all: revert;
}

/*Fonts*/
@font-face {
    font-family: 'Junge';
    src:
        local('Junge'),
        url('../fonts/Junge-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src:
            local('Roboto'),
            url('../fonts/Roboto-Regular.ttf');
}

/*Variables*/
:root {
    --budo-red: #B8221C;
    --dark-bg-nav: #252222;
    --shadow-bg-nav: #2B0B0B;
    --shadow-bg-element: #5a5252b3;
    --ancient-paper-white: #fdfdfd;
    --green-herb: #12540bb5;
    --emergency-dark: #974242ab;
    --gold-citation: #feac13f2;
    --nav-border: var(--budo-red) 1px solid;
    --box-shadow-nav: 0 9px 20px var(--shadow-bg-nav);
    --border-radius-nav: 0 0 10px 10px;
    --box-shadow-hr: 8px 5px 10px var(--shadow-bg-element);
    --card-portrait-font: #D9D9D9;
    --box-shadow-card: 8px 5px 10px var(--shadow-bg-element);
    --box-shadow-input-invalid: 8px 5px 10px var(--emergency-dark);
    --box-shadow-input-valid: 8px 5px 10px var(--green-herb);
    --box-shadow-hover-submit: 8px 5px 10px var(--gold-citation);
}

/*Toggle elements*/
.disabled {
    display: none;
}

.enabled {
    display: block;
}

.body-regular-pages {
    background: var(--ancient-paper-white);
}

/*Main Elements*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 4rem;
    padding: 1.3rem;
    border-radius: 0 0 1rem 1rem;

    color: var(--ancient-paper-white);
    background-color: var(--dark-bg-nav);
    border-bottom: var(--budo-red) 1px solid;
    box-shadow: var(--box-shadow-nav);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

@media (orientation: landscape) {
    main {
        margin-top: 16vh;
    }
}

/*Main text design*/
h1 {
    font-family: 'Junge', cursive;
    color: var(--budo-red);
    text-align: center;
    font-size: 3rem;
    margin-top: 2vh
}

h2 {
    margin-top: 2vh;
    margin-bottom: 1vh;
    text-align: center;
    font-size: 2rem;
    font-family: 'Junge', cursive;
    font-weight: 800;
}

h3 {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Junge', sans-serif;
    font-weight: 800;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

hr {
    margin-bottom: 2vh;
    border: none;
}

.large-hr {
    display: block;
    width: 90vw;
    height: 0.22rem;
    background-color: var(--budo-red);
    box-shadow: var(--box-shadow-hr);
}

.required {
    color: var(--budo-red);
}

.nav-list li:hover{
    position: relative;
    width: 82px;
    top: 10px;
    height: 48px;
    text-align: center;
    padding-top: 2px;
    padding-left: 8px;
    color: rgb(213 53 46 / 0.86);
    font-weight: 800;
}

.block-list-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 4vh;
    padding: 0;
    overflow: hidden;
    margin-top: 2vh;
}

.card {
    border-radius: 1rem;
    background: var(--ancient-paper-white);
    box-shadow: var(--box-shadow-card);
    margin-bottom: 4vh;
    border-top: solid var(--shadow-bg-element) 1px;
    border-left: solid var(--shadow-bg-element) 1px;
}

video {
    box-shadow: var(--box-shadow-card);
    object-fit: cover;
}

/*---------- Formulaire d'inscription ---------*/
/*----------- When page is displayed ---------*/
.formulaire-inscription input:placeholder-shown:not(:focus),
.formulaire-inscription textarea:placeholder-shown:not(:focus),
select[name="object"]
{
    box-shadow: none;
    border: solid #a3a3a3 1px;
}


/*.formulaire-inscription input:placeholder-shown, .formulaire-inscription textarea:placeholder-shown {*/
/*    box-shadow: none;*/
/*    border: solid #a3a3a3 1px;*/
/*}*/

/*.formulaire-inscription input:placeholder-shown:not(:focus), .formulaire-inscription textarea:placeholder-shown:not(:focus) {*/
/*    box-shadow: none;*/
/*    border: solid #a3a3a3 1px;*/
/*}*/

/*----------- Check validity ---------*/
.formulaire-inscription textarea:valid,.formulaire-inscription  input:valid {
    box-shadow: var(--box-shadow-input-valid);
    border: solid var(--green-herb) 1px;
}

.formulaire-inscription textarea:invalid, .formulaire-inscription input:invalid {
    box-shadow: var(--box-shadow-input-invalid);
    border: solid var(--budo-red) 1px;
}

/*----------- Send Formulaire ---------*/
input[type="submit"]:valid, input[type="submit"]:invalid {
    box-shadow: var(--box-shadow-card);
}

input[type="submit"]:hover {
    color: var(--gold-citation);
    box-shadow: var(--box-shadow-hover-submit);
    border: solid var(--gold-citation) 1px;
}

input[type="submit"]:active {
    box-shadow: none;
}

fieldset {
    -webkit-appearance: none;
}

/*--------- Error message styles ---------*/
.error {
    display: block;
    margin-top: 0.35rem;
    color: var(--budo-red);
    font-size: 0.8rem;
    font-weight: 600;
}



