/* Menu top bar*/
.menu-top {
    background-color: #333030;
    height: 50px;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    display: flex;
    align-items: center;
    list-style: none;
}

body {
    background-color: black;
}

header {
    margin-bottom: 30px;
    border: white 1px solid;
    color: white;
}

main {
    border: white 1px solid;
    color: white;
}

