/* Menu top bar*/
.banner {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    background-color: #333030;
    border-radius: 0 0 10px 10px;
}

.menu-top {
    width: 35%;
}

.dokan-logo {
    display: flex;
    color: black;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    background-color: black;
}

header {
    margin-bottom: 30px;
    border-bottom: #B8221C 1px solid;
    color: white;
}

main {
    border: white 1px solid;
    color: white;
}

