/* ------------ Landing-page ------------ */
.landing-page {
    background-image:
            var(--landing-gradient-filter),
            url("../assets/tamurasensei.jpg");
    background-size: cover;
    background-blend-mode: hard-light;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.landing-page main {
    margin-top: 45vh;
}

.citation-landing-page {
    width: 22rem;
    height: 10rem;
    color: var(--gold-citation);
    font-family: 'Junge', cursive;
    font-size: 1rem;
    margin-bottom: 8vh;
    margin-left: 3vw;
}

.citation-landing-page > p {
    text-align: left;
}

.citation-landing-page > span {
    display: block;
    width: 98%;
    text-align: right;
    font-style: italic;
}

.button-wrapper-landing-page {
    display: flex;
    justify-content: center;
}

.button-wrapper-landing-page button {
    background-color: var(--dark-bg-nav);
    width: 90px;
    height: 32px;
    border-radius: 6px;
    border-top: solid var(--gold-citation) 2px;
    border-bottom: var(--gold-citation) 2px solid;
    color: var(--ancient-paper-white);
    text-align: center;
}

/* ------------ Dokan page ------------ */
.block-text-dokan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-text-dokan img {
    width: 20rem;
    margin-top: 1vh;
    border-radius: 10px;
    box-shadow: var(--box-shadow-element);
}

.block-text-dokan p {
    width: 20rem;
    margin-top: 2vh;
}

@media (orientation: landscape) {
    /* ------------ Landing-page landscape ------------ */
    .landing-page {
        background-image: var(--landing-gradient-filter),
        url("../assets/1117604-1920x1080-desktop-full-hd-aikido-wallpaper-image.jpg");
    }

    .citation-landing-page {
        margin-bottom: 0;
    }

    /* ------------ Dokan page landscape ------------ */
}

/* ------------ Page: Stages de la saison ------------ */
.stage-saison-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 21rem;
    height: 40rem;
    box-shadow: 8px 5px 10px #5a5252b3;
}

.stage-saison-card img {
    padding-top: 0;
    border-top: solid var(--shadow-bg-element) 1px;
    border-bottom: solid var(--shadow-bg-element) 1px;
    object-fit: cover;
    object-position: center;
}

.stage-city-name {
    margin-top: 1.5rem;
    font-family: 'Junge', cursive;
    font-size: 1.3rem;
}

.header-stage-card {
    display: flex;
    justify-content: center;
    margin-bottom: 1.8rem;
    height: 1rem;

}

.header-stage-card hr {
    width: 5rem;
    height: 0.1rem;
    background-color: black;

}

.block-header-stage-card {
    margin: 0 1rem;
}
/*--- Médias page ---*/

.medias-main {
    margin-bottom: 7vh;
}

.header-block-medias {
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--budo-red);
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    font-weight: 800;
    margin-bottom: 4vh;
    color: var(--ancient-paper-white);
    padding-left: 8vw;
    padding-right: 2vh;
}

.header-block-medias > h2 {
    width: 12rem;
    height: 100%;
    margin: 0;
    padding: 0;
    align-content: center;
    text-align: left;
}

.block-toggle-medias {
    display: flex;
}

.toggle-medias {
    background-color: var(--ancient-paper-white);
    width: 1.7rem;
    height: 0.22rem;
    border-radius: 10px;
}

.open-toggle-illustrations,
.open-toggle-videos,
.open-toggle-pictures {
    display: none;
}

.body-block-medias {
    display: none;
}

.open-toggle-left {
    transform: rotate(45deg);
    margin-right: -10px;
}

.open-toggle-right {
    transform: rotate(-45deg);
}

.close-toggle-left {
    transform: rotate(-45deg);
    margin-right: -10px;
}

.close-toggle-right {
    transform: rotate(45deg);
}

/* ------------ Inscription ------------ */
.formulaire-inscription {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fieldset {
    display: flex;
    flex-direction: column;
}

.form-section {
    display: flex;
    flex-direction: column;
}

.formulaire-inscription select[name="object"] {
    width: 40vw;
    height: 2.2rem;
    padding: 0.5rem;
    background-color: var(--ancient-paper-white);
    border-radius: 5px;
}

.formulaire-inscription .form-group input  {
    width: 90vw;
    height: 1.8rem;
    padding: 0.5rem;
}

.formulaire-inscription .form-group input[type="submit"] {
    width: 90vw;
    height: 2rem;
}

.formulaire-inscription input, .formulaire-inscription textarea {
    height: 30px;
    background-color: var(--ancient-paper-white);
    border-radius: 5px;
}

.formulaire-inscription textarea {
    width: 90vw;
    height: 20vh;
    background-color: var(--ancient-paper-white);
    padding: 0.5rem;
}

label {
    display: block;
    margin-bottom: 3px;
}

.form-group {
    margin-bottom: 2vh;
}

input[type="submit"] {
    text-align: center;
    height: 2.4rem;
    margin-top: 2.5vh;
}

.active {
    position: relative;
    width: 82px;
    top: 10px;
    text-align: center;
    height: 48px;
    padding-top: 6px;
    font-weight: 400;
}

.active > a {
    pointer-events: none;
}

.mobile-nav li a[class="active"] {
    color: var(--budo-red);
}

.not-active:hover{
    position: relative;
    width: 82px;
    top: 10px;
    color: rgb(213 53 46 / 0.86);
    height: 48px;
    text-align: center;
    padding-top: 6px;
    font-weight: bold;
}

/*---------- Formulaire d'inscription ---------*/
.required {
    color: var(--budo-red);
}

video {
    box-shadow: var(--box-shadow-element);
    object-fit: cover;
}

/*----------- When page is displayed ---------*/
.formulaire-inscription input:placeholder-shown:not(:focus),
.formulaire-inscription textarea:placeholder-shown:not(:focus),
select[name="object"]
{
    box-shadow: none;
    border: solid #a3a3a3 1px;
}

/*----------- Check validity ---------*/
.formulaire-inscription textarea:valid,.formulaire-inscription  input:valid {
    box-shadow: var(--box-shadow-input-valid);
    border: solid var(--green-herb) 1px;
}

.formulaire-inscription textarea:invalid, .formulaire-inscription input:invalid {
    box-shadow: var(--box-shadow-input-invalid);
    border: solid var(--budo-red) 1px;
}

/*----------- Send Formulaire ---------*/
input[type="submit"]:valid, input[type="submit"]:invalid {
    box-shadow: var(--box-shadow-element);
}

input[type="submit"]:hover {
    color: var(--gold-citation);
    box-shadow: var(--box-shadow-hover-submit);
    border: solid var(--gold-citation) 1px;
}

input[type="submit"]:active {
    box-shadow: none;
}

fieldset {
    -webkit-appearance: none;
}

/*--------- Error message styles ---------*/
.error {
    display: block;
    margin-top: 0.35rem;
    color: var(--budo-red);
    font-size: 0.8rem;
    font-weight: 600;
}


/* ------------ Infos pratiques ------------ */
.infos-pratiques-main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-infos-pratiques {
    margin-bottom: 3vh;
}

.block-infos-pratiques .block-adresse, .block-infos-pratiques .reseaux-sociaux {
    margin-bottom: 4vh;
}

.block-infos-pratiques div p {
    text-align: center;
}

.block-logo-reseau {
    width: 11rem;
    display: flex;
    justify-content: space-around;
}

.reseaux-sociaux {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instagram {
    margin-top: 0.35rem;
}

/* ------------ Partenaires ------------ */

.block-partenaires {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}

.block-partenaire-text {
    margin-top: 1vh;
    margin-bottom: 2vh;
    margin-left: 3vw;
}

.block-partenaire-logo {
    width: 22rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block-partenaire-logo a:nth-child(2) {
    margin-top: 7px;
}


.block-partenaire-logo img {
    width: 9rem;
    margin-bottom: 1vh;
}

.heritage-card, .team-card {
    width: 21rem;
    height: 30rem;
}

.heritage-card p {
    margin-top: 2rem;
    padding: 0 1rem;
}

.media-card {
    width: 21rem;
    height: 30rem;
}

.block-list-card-medias {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
}

.block-list-card-medias .media-card .img-media {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
}

video {
    width: 21rem;
    margin-top: 2rem;
    border-radius: 10px;
}


