@import url('./global.css');

/* menu-nav */
@media (max-width: 1024px) {
    .banner {
        padding: 0 12px;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        position: relative;
        right: 0;
        border: solid #b8221c 2px;;
        width: 38px;
        height: 38px;
        border-radius: 5px;
        padding: 0;
        margin: 0;
    }

    .burger-menu-line {
        position: relative;
        width: 25px;
        height: 2px;
        background-color: #b8221c;
        margin: 3px auto;
    }

    .burger-menu-list {
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100vh;
        background: var(--dark-bg-nav) ;
        border-right: var(--nav-border);
        border-radius: 0 10px  10px 0;
    }

    .burger-menu-list li {
        display: flex;
        flex-direction: column;
        border-top: var(--nav-border);
        height: 5vh;
        justify-content: center;
        padding-left: 10px;
    }

    .burger-menu-list li:nth-child(1) {
        border-top: none;
    }



    .disabled {
        display: none;
    }

    .enabled {
        display: block;
    }
}

