/* ------------ Tablet portrait ------------ */
@media (min-width: 750px) {
/* ------------ Landing-page ------------ */
    .body-landing-page {
        background-image:
                linear-gradient(#332e2e),
                url("../assets/tamurasensei.jpg");
    }
/* ------------ Page: Dokan ------------ */
    .block-list-card {
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        width: 83vw;
    }

/* ------------ Page: contacts ------------ */
    .form-section {
        justify-content: space-around;
        width: 38rem;
        flex-direction: row;
        align-items: center;
        margin-top: 0.8rem;
    }

    .formulaire-inscription .form-group input {
        width: 17rem;
    }

    .formulaire-inscription textarea {
        width: 36rem;
    }

    .formulaire-inscription .form-group input[type="submit"] {
        width: 10rem;
    }

    .formulaire-inscription .form-section:last-child {
        width: 38rem;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .block-partenaire-text {
        width: 40rem;
    }
}

/* ------------ Tablet landscape ------------ */
@media (min-width: 1024px) {
    /* ------------ Landing-page ------------ */
    .citation-landing-page {
        width: 33rem;
    }

    .citation-landing-page > span {
        margin-top: 1rem;
    }

    /* ------------ Dokan ------------ */
    .block-text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .block-text h2 {
        width: 100vw;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .block-text p {
        height: 22rem;
        font-size: 1.2rem;
    }

    .small-hr-left {
        display: block;
        margin-right: 45vw;
        width: 50vw;
        background-color: var(--budo-red);
        height: 0.2rem;
        box-shadow: var(--box-shadow-hr);
    }

    .small-hr-right {
        display: block;
        margin-left: 45vw;
        width: 50vw;
        background-color: var(--budo-red);
        height: 0.2rem;
        box-shadow: var(--box-shadow-hr);
    }

    .block-text .illustration {
        width: 38rem;
    }

    .block-text p {
        width: 50rem;
    }

    .block-text-img-right h2 {
        text-align: left;
        padding-left: 14rem;
        order: 2
    }

    .block-text-img-left h2 {
        text-align: right;
        padding-right: 15rem;
        order: 1
    }

    .block-text-img-right p {
        order: 3
    }

    .block-text-img-right .illustration {
        margin-bottom: 4vh;
        order: 2
    }

    .block-text-img-left .illustration {
        margin-bottom: 4vh;
        order: 2
    }

}
