/* ------------ Tablet portrait ------------ */
@media (min-width: 740px) {
    h2 {
        width: 95vw;
        margin-top: 2rem;
        margin-left: 5rem;
    }

    /*--- Texts ---*/
    .block-text > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10vw;
    }

    .block-text div p, .block-text div .multi-p {
        vertical-align: top;
        width: 45vw;
    }

    .block-text-img-right h2 {
        text-align: left;
        margin-left: 25vw;
    }

    .block-text-img-right p, .block-text-img-right .multi-p {
        order: 1;
        text-align: left;
    }

    .block-text-img-right img {
        order: 2
    }

    .block-text-img-left h2 {
        text-align: left;
        margin-left: 20vw;
        width: 33vw;
    }


    .block-text-center p {
        width: 30rem;
    }

    /*--- hr ---*/
    .small-hr-left {
        display: block;
        margin-right: 44vw;
        width: 53vw;
        background-color: var(--budo-red);
        height: 0.2rem;
        box-shadow: var(--box-shadow-element);
        margin-top: 1.5rem;
    }

    .small-hr-right {
        display: block;
        margin-left: 45vw;
        width: 53vw;
        background-color: var(--budo-red);
        height: 0.2rem;
        box-shadow: var(--box-shadow-element);
        margin-top: 1.5rem;
    }

    /*--- Cards ---*/
    .block-card {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3rem;
        margin-top: 2rem;
    }

    /*--- Forms ---*/
    fieldset {
        width: 40rem;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }

    .submit-fieldset {
        display: flex;
        flex-direction: row;
        justify-content: right;
        width: 36rem;
    }

    .form-group input {
        width: 17rem;
    }

    select, textarea {
        width: 37rem;
    }

    input[type="submit"] {
        width: 10rem;
    }

    /*--- Landing-page ---*/
    .citation-landing-page {
        margin-right: 43vw;
    }

    /*--- Info pratiques ---*/
    iframe {
        width: 44rem;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    h1 {
        margin-top: 12vh;
    }

    /*--- Info pratiques ---*/
    iframe {
        width: 60rem;
        height: 25rem;
    }
}



