# Default ignored files
/shelf/
/.idea
/.junie

# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.DS_Store

/.github
/node_modules