/*--- Unreset ---*/
hr {
    all: revert;
}

/*--- Fonts ---*/
@font-face {
    font-family: 'Junge';
    src:
        local('Junge'),
        url('../../fonts/Junge-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src:
            local('Roboto'),
            url('../../fonts/Roboto-Regular.ttf');
}

/*--- Variables ---*/
:root {
    /*-- Fonts --*/
    --font-stack-title: 'Junge', sans-serif;
    --font-stack-text: 'Roboto', sans-serif;

    /*-- Colors --*/
    /* Main colors set */
    --budo-red: #B8221C;
    --ancient-paper-white: #fdfdfd;
    --gold-citation: #feac13f2;

    /* Background-color & shadow colors elements set*/
    --dark-bg-nav: #252222;
    --shadow-bg-nav: #2B0B0B;
    --shadow-bg-element: #5a5252b3;

    /* Form validation colors set */
    --green-herb: #12540bb5;
    --emergency-dark: #974242ab;

    /* Border preset */
    --nav-border: var(--budo-red) 1px solid;
    --border-radius-nav: 0 0 10px 10px;

    /* Box-shadow preset */
    --box-shadow-nav: 0 9px 20px var(--shadow-bg-nav);
    --box-shadow-element: 8px 5px 10px var(--shadow-bg-element);

    /* Box-shadow preset: inscription form */
    --box-shadow-input-valid: 8px 5px 10px var(--green-herb);
    --box-shadow-input-invalid: 8px 5px 10px var(--emergency-dark);
    --box-shadow-hover-submit: 8px 5px 10px var(--gold-citation);

    /* gradient */
    --landing-gradient-filter: linear-gradient(#332e2e);
}

/*--- Navigation --*/
header {
    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 4rem;
    padding: 1.3rem;
    border-radius: 0 0 10px 10px;

    color: var(--ancient-paper-white);
    background-color: var(--dark-bg-nav);
    border-bottom: var(--budo-red) 1px solid;
    box-shadow: var(--box-shadow-nav);
}

.dokan-logo {
    width: 2.8rem;
    height: 2.8rem;
    margin-top: 0.5vh;
}

/*Burger-Menu Shape*/
.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    position: relative;
    right: 0;
    width: 38px;
    height: 38px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.burger-menu-line {
    position: relative;
    width: 25px;
    height: 2px;
    background-color: #b8221c;
    margin: 3px auto;
}

.burger-menu-close {
    display: none;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    right: 0;
    width: 38px;
}

.burger-menu-close .burger-menu-line:nth-child(1) {
    transform: rotate(45deg);
    margin-bottom: -1px;
    margin-top: 1px;
}

.burger-menu-close .burger-menu-line:nth-child(2) {
    transform: rotate(-45deg);
    margin-top: -1px;
}

.burger-menu-close-area {
    display: none;
    position: absolute;
    width: 100vw;
    height: 200vh;
    background-color: #FFFFFF00;
    left: 18rem;
    top: 4rem;
}

/*Mobile navigation links display*/
nav ul {
    display: none;
}

.mobile-nav {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 18rem;
    height: 100vh;

    background-color: var(--dark-bg-nav);
    border-radius: 0 10px 10px 0;
    border-right: var(--nav-border);
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
}

.mobile-nav .mobile-nav-list li {
    display: flex;
    align-items: center;

    height: 4rem;
    padding-left: 5vw;

    border-bottom: var(--nav-border);
}

.mobile-nav li a {
    font-size: 1.2rem;
    color: var(--ancient-paper-white);
    font-family:'Roboto', sans-serif;
}

.mobile-nav li:last-child {
    border-bottom: none;
}

main {
    margin-bottom: 20vh;
}

/*--- Titles and texts ---*/
h1 {
    font-family: var(--font-stack-title), sans-serif;
    color: var(--budo-red);
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    margin-top: 12vh
}

h2 {
    font-family: var(--font-stack-title), sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    margin-top: 4vh;
}

h3 {
    font-family: var(--font-stack-title), sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 1.2rem;
}

p {
    font-family: var(--font-stack-text), sans-serif;
    font-size: 0.8rem;
}

hr {
    border: none;
}

.large-hr {
    display: block;
    width: 90vw;
    height: 0.22rem;
    background-color: var(--budo-red);
    box-shadow: var(--box-shadow-element);
}

.small-hr-right, .small-hr-left {
    display: none;
}

/*--- Cards ---*/
.block-list-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 25rem;
    padding: 0.8rem;
    border-radius: 10px;
    background: var(--ancient-paper-white);
    box-shadow: var(--box-shadow-element);
    border-top: solid var(--shadow-bg-element) 1px;
    border-left: solid var(--shadow-bg-element) 1px;
    margin-bottom: 4vh;
}

.media-card {
    padding: 0;
}

.media-card img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
}

.card h3 {
    margin-top: 1rem;
}

.card p {
    margin-top: 0.8rem;
}




